#title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  padding: 16px;
}

#subtitle {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#footer {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px solid black;
  width: 99%;
}

#circle {
  text-align: center;
}